html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  text-align: center;
}

/* Add your styles below */

#p5-canvas {
  margin: 10px auto;
  width: 810px;
  height: 610px;
  border: 5px solid red;
}
